version: "2.1"
services:
  swag:
    image: lscr.io/linuxserver/swag:latest
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID: 1000
      - PGID: 1000
      - TZ: 'Etc/UTC'
      - URL: 'phpwizard.cc'
      - VALIDATION: 'dns'
      - SUBDOMAINS: 'wildcard' #optional
      - CERTPROVIDER: '' #optional, defaults to 
      - DNSPLUGIN: 'cloudflare' #optional
      - PROPAGATION: '' #optional
      - EMAIL: '' #optional, DO THIS
      - ONLY_SUBDOMAINS: 'false' #optional
      - EXTRA_DOMAINS: '' #optional, if you use this, set exact subdomains and validation to http
      - STAGING: 'false' #optional
    volumes:
      - /path/to/appdata/config:/config
    ports:
      - 443:443
      - 80:80 #optional
    restart: unless-stopped
  cloudflareDDNS:
    image: oznu/cloudflare-ddns
    container_name: cloudflareDDNS
    environment:
      - EMAIL: 'example.com'
      - API_KEY: 'a1B2C3' #Cloudflare DNS key, allows to set A records to your IP
      - ZONE: 'phpwizard.cc' #domain
      - SUBDOMAIN: '' #optional
      - PROXIED: 'false' #true|false
      - RRTYPE: 'A' #A|AAAA
  db:
    image: mysql:8.2
    command: '--default-authentication-plugin=mysql_native_password'
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=somewordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    expose:
      - 3306 # Note, you cannot access this port from outside docker's internal network
      - 33060
    volumes:
      - /path/to/appdata/config:/var/lib/mysql #make the data persistent
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - '8085:8080' #Access at [IP]:8085
